<c-header>
  <h1>
    <p c-hide="hide" title="Привет, Compo">Привет, ${ message }!</p>
  </h1>
  
  <c-menu></c-menu>

  <div c-for="item of arr">
    <p>Число: ${ item }</p>
  </div>

  <br>

  <div c-for="obj of users">
    <div class="user">
      <p>
        <b>Имя</b>: ${ obj.name }
      </p>
      <p>
        <b>Возраст</b>: ${ obj.age }
      </p>
      <div c-for="category in obj.skills">
        <b>${ category[0].toUpperCase() + category.slice(1) }</b>:
        <ol c-for="i = 0; i < obj.skills[category].length; i++">
          <li>${ obj.skills[category][i] }</li>
        </ol>
      </div>
    </div>
    <hr>
  </div>

  <br>

  <pre>${ this.users }</pre>

  <!-- <div c-for="user of users">
    <p c-for="prop in user">${ user[prop] } </p>
  </div> -->

  <style>
    h1{
      color: ${ color() };
    }
  </style>

  <script>
    this.color = 'red'
  </script>
  <script>
    this.message = 'Compo'
    this.test = 'Тест'
    this.hide = false
    this.color = () => 'red'

    this.arr = []
    const count = 3
    for(var i = 0; i < count; i++) this.arr[i] = i

    this.arr2 = ['A', 'B', 'C']

    // this.users = [
    //   {
    //     name: 'Дима',
    //     age: 28
    //   },
    //   {
    //     name: 'Оля',
    //     age: 32
    //   },
    //   {
    //     name: 'Артур',
    //     age: 54
    //   }
    // ]

    this.users = [
      {
        name: 'Дмитрий',
        age: 28,
        skills: {
          frontend: ['HTML', 'CSS'],
          backend: ['PHP', 'Ruby', 'MySQL']
        }
      },
      {
        name: 'Ольга',
        age: 25,
        skills: {
          frontend: ['HTML', 'JavaScript'],
          backend: ['PHP']
        }
      },
      {
        name: 'Максим',
        age: 30,
        skills: {
          frontend: ['HTML', 'CSS', 'JavaScript', 'jQuery'],
          backend: ['Ruby', 'MySQL']
        }
      }
    ]

    // -----------------------------------------------

    const event = this.$event('test', {detail: this.users[0]})

    setTimeout(() => document.dispatchEvent(event), 500)

  </script>
</c-header>