<c-menu>
  <nav>
    <a href="/">Главная</a>
    <a href="about/test">О нас</a>
    <a href="contacts?a=5">Контакты</a>
    <a href="https://yandex.ru/" target="_blank">Яндек</a>
    <a href="dist/img/001.png">IMG</a>
    <a href="dist/image.zip">ZIP</a>
  </nav>
  <br><br>

  <style>
    a {
      margin-right:7px;
    }
  </style>

  <script>
    const router = this.$router(this.$('nav'), {
      start: true
    })

    router(/.*\/test/, e => {
      console.log('О нас: ', e)
    })

    router('.*', e => {
      console.log('Все: ', e)
    })


  </script>
</c-menu>